module.exports = {
    github: {
        authentication: {
            username: '',
            password: ''
        }
    },
    repositories: [
        { label: 'StarLiner', repository: 'marmelab/StarLiner' }
    ]
};
